body {
  margin: 0px;
  padding: 0px;
  display: grid;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(223, 166, 9, 0.76);
  font-family: "Figtree", sans-serif;
}
p,
h3,
h4 {
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}
.conteudo {
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(51, 46, 46, 0.836);
  box-shadow: 5px 5px 1px 1px black;
  box-sizing: border-box;
}
.conteudo .texto {
  max-width: 32ch;
  color: rgba(39, 35, 35, 0.637);
  font-weight: 600;
  font-size: 0.925em;
  margin-bottom: 10px;
}
.conteudo .subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 6px 10px;
  background-color: rgba(223, 166, 9, 0.76);
  max-width: max-content;
  font-weight: bold;
  font-size: 0.875em;
  border-radius: 5px;
}
.conteudo span {
  color: rgba(10, 10, 10, 0.808);
  font-weight: bold;
  font-size: 0.825em;
}
.conteudo h3 {
  margin-top: 16px;
  font-weight: 900;
  font-size: 1.4em;
  margin-bottom: 16px;
}
.image {
  display: flex;
  align-items: center;
  gap: 12px;
}
.image img {
  max-width: 12%;
}
.image h4 {
  font-weight: 800;
  font-size: 0.9em;
}
